/* Stili generali */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Container che contiene gli elementi */
.container {
  width: 300px;
  background-color: white;
  padding: 10px;
}

/* Stili per ciascun elemento */
.element {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #FFC300;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s;
}

.element:hover {
  background-color: #333;
}
