
<div *ngIf="skeletonIsActive" class="skeleton-container">
    <p-skeleton width="22rem" height="10rem" borderRadius="16px"></p-skeleton>
    <p-skeleton width="22rem" height="10rem" borderRadius="16px"></p-skeleton>
    <p-skeleton width="22rem" height="10rem" borderRadius="16px"></p-skeleton>
    <p-skeleton width="22rem" height="10rem" borderRadius="16px"></p-skeleton>
</div>

<div *ngIf="!skeletonIsActive">
    <!-- <p-messages severity="info">
        <ng-template pTemplate>
            <div class="ml-2">Pubblica qui il tuo annuncio</div>
        </ng-template>
    </p-messages> -->
    <app-pizza-panino-filter (foodSelected)="FilterRestaurants($event)"></app-pizza-panino-filter>
    <div class="card-container">
      <div *ngFor="let item of items; let i = index">
        <p-card class="custom-card" header="{{item.name}}" subheader="{{item.address}}" [style]="{ width: '360px', borderRadius: '15px' }">
          <ng-template pTemplate="header">
            <img class="card-header-image" alt="Card" src="{{item.imageUrl}}" />
          </ng-template>
          <ng-template pTemplate="footer" *ngIf="item.opened == false">
            <p-button severity="danger" pRipple label="Ristorante chiuso" icon="pi pi-ban" class="w-full"></p-button>
          </ng-template>
          <ng-template pTemplate="footer" *ngIf="item.opened == true">
            <div class="button-container">
              <!-- <p-button  pRipple (onClick)="detail_restaurant(item)" label="Vai al ristorante" icon="pi pi-eye" class="w-full"></p-button> -->
              <button class="detail-button" (click)="detail_restaurant(item)">
                <span class="button-text">Dettaglio</span>
                <i class="fas fa-eye icon"></i>
            </button>
            </div>
            
            
          </ng-template>
        </p-card>
      </div>
    </div>
    
</div> 
  