.card-wrapper {
  margin-bottom: 20px; /* Aggiunge spazio tra le card */
}

.first-card {
  margin-top: 30px; /* Imposta un margine superiore solo per la prima card */
}
.mymargin
{
  margin-top: 18%;
}




/* Definisci una classe personalizzata per sovrascrivere gli stili di .p-button */
.custom-p-button {
  color: #ffffff !important;
  background: #FFC300 !important; /* Colore rosso */
  border: 1px solid #FFC300 !important; /* Bordo rosso */
}
