.card-container {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100vh;
  }
  
  .card-wrapper {
    text-align: center;
  }
  .card {
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    margin-bottom: 20px; /* Margine inferiore per tutte le card */
  }
  
  .card:first-child {
    margin-top: 20px; /* Margine superiore solo per la prima card */
  }
  
  
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-header {
    background-color: #159834;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-body p {
    margin: 10px 0;
  }
  
// bottone in basso::after

  