<!-- <div *ngFor="let item of orderItems; let first = first" class="card-wrapper" [ngClass]="{'first-card': first}">
  <p-card header={{getTitleCardCart(item)}}>
    <div *ngIf="item.menuItem.name!=''">
      <h4>Base:</h4>
      <p class="m-0">
        {{ 'Nome: ' + item.menuItem.name }}<br>
        {{ 'Descrizione: ' + item.menuItem.description }}<br>
      </p>
    </div>
    <div *ngIf="item.customizations.length > 0">
      <h4>Ingredienti:</h4>
      <p class="m-0">
        {{ getListNameIngredients(item.customizations) }}<br>
      </p>
    </div>
    <div *ngIf="item.note != null && item.note.length > 0">
      <h4>Note:</h4>
      {{ item.note }}
    </div>
    <ng-template pTemplate="footer">
      <p-button (click)="Update(item)" label="Modifica" icon="pi pi-file-edit"></p-button>
      <p-button (click)="Delete(item.itemId)" label="Elimina" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
  </p-card>
</div>
<div class="card">
  <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
</div> -->

<div *ngFor="let item of orderItems">
  <app-cart-card [image]="getImage(item)" [name]="getTitleCardCart(item)"
    [ingredients]="getListNameIngredients(item.customizations)" (delete)="Delete(item.itemId)" (edit)="Update(item)"
    [item_quantity]="item.quantity">
  </app-cart-card>
</div>
<div class="mymargin">
  <button (click)="Save()" pRipple pButton type="button" label="Salva" [ngClass]="{'w-full fixed-bottom': true,'custom-p-button': true}"></button>
</div>