<div class="card-container">
    <div class="card-wrapper">
      <div class="card" *ngFor="let item of cartItems">
        <div class="card-header">
          {{ item.nome }}
        </div>
        <div class="card-body">
          <p>Tipo: {{ item.tipologia }}</p>
          <p>Ingredienti 1: {{ item.ingredienti1.join(', ') }}</p>
          <p>Ingredienti 2: {{ item.ingredienti2 ? item.ingredienti2.join(', ') : '-' }}</p>
          <p>Ingredienti 3: {{ item.ingredienti3 ? item.ingredienti3.join(', ') : '-' }}</p>
        </div>
      </div>
      <p-button label="Invia ordine" [loading]="loading" loadingIcon="pi pi-spinner" (onClick)="salvaOrdine()"></p-button>
    </div>
  </div>

  <!-- <div class="fixed-button-container"> -->
  <!-- </div> -->
  