
<div >
    <div class="profile-container">
        <label for="name" class="block text-900 font-medium mb-2">Nome Attività</label>
        <input id="name" type="text" placeholder="Nome attività" pInputText class="w-full mb-3" 
            [(ngModel)]="dettagli_profilo.name">
        <label for="address" class="block text-900 font-medium mb-2">Indirizzo</label>
        <input id="address" type="text" placeholder="address" pInputText class="w-full mb-3" 
            [(ngModel)]="dettagli_profilo.address">
        <label for="phone" class="block text-900 font-medium mb-2">Numero di telefono</label>
        <input id="phone" type="text" placeholder="Numero di telefono" pInputText class="w-full mb-3" 
            [(ngModel)]="dettagli_profilo.phone">
        <div class="button-container">
            <!-- <button  pRipple pButton type="button" label="Aggiungi indirizzo" class="w-full"></button>
            <button  pRipple pButton type="button" label="Salva indirizzo" class="w-full"></button> -->
            <button (click)="UpdateRestaurant()" pRipple pButton type="button" label="Salva" class="w-full"></button>
        
        </div>
    </div>

</div>

<div class="container-toggle">
    <label for="telefono" class="block text-900 font-medium mb-2">Stato attività</label>
    <p-toggleButton (click)="ChangeStatusRestaurant()" [(ngModel)]="dettagli_profilo.opened" onLabel="Aperto" offLabel="Chiuso" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{ width: '10em' }"></p-toggleButton>
</div>

<div class="card">
    <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
</div>