
  

<div class="card">
    <p-tabView>
        <p-tabPanel header="Menu">
            <h1 class="cool-title">{{this.restaurant_name}}</h1>

            <div class="container-button">
                <app-custom-button *ngIf="this.renderCustomFoodButtonBread" (click)="personalizza_prodotto('BREAD')" [icon]="'🍔'" [description]="'Crea panino personalizzato'"></app-custom-button>
                <!-- <p-button *ngIf="this.renderCustomFoodButtonBread" (onClick)="personalizza_prodotto('BREAD')" severity="success" label="Crea panino personalizzato" icon="pi pi-file-edit" size="small"></p-button> -->
            </div>
            <div class="container-button">
                <!-- <p-button *ngIf="this.renderCustomFoodButtonPizza" (onClick)="personalizza_prodotto('PIZZA')" severity="success" label="Crea pizza personalizzata" icon="pi pi-file-edit" size="small"></p-button> -->
                <app-custom-button *ngIf="this.renderCustomFoodButtonBread" (click)="personalizza_prodotto('PIZZA')" [icon]="'🍕'" [description]="'Crea pizza personalizzata'"></app-custom-button>
            </div>
            
            <app-product-card (baseClicked)="BaseClicked($event)" [list_of_element]="foodMenuList"></app-product-card>
        
        </p-tabPanel>
        
        <p-tabPanel header="Bevande">

            <app-mini-card [isBevande]="true" [list_of_element]="drinkMenuList"></app-mini-card>

        </p-tabPanel>   
    </p-tabView>
</div>