.general-profile-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 15px; /* Aggiunge un margine superiore di 20px */
  }


.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
}

.restaurant-title {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 700;
  color: black; /* Colore nero per il testo */
  position: relative;
  z-index: 2;
  text-align: center;
}
