.general-profile-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 15px; /* Aggiunge un margine superiore di 20px */
  }

  .custom-description {
    font-size: 0.3rem; /* Riduce la grandezza del testo */
    line-height: 1.2; /* Imposta l'interlinea */
    color: #666666; /* Colore del testo */
    margin-top: 4px; /* Aggiunge uno spazio sopra la descrizione */
}
