
  

<div class="card">
    <p-tabView>
        <p-tabPanel header="Menu">
            <div class="container-button">
                <p-button (onClick)="personalizza_prodotto()" severity="success" label="Crea panino personalizzato" icon="pi pi-file-edit" size="small"></p-button>
            </div>
        
            <app-mini-card [list_of_element]="restaurant.menuCibo"></app-mini-card>
        
        </p-tabPanel>
        
        <p-tabPanel header="Bevande">

            <app-mini-card [list_of_element]="restaurant.menuBevande"></app-mini-card>

        </p-tabPanel>   
    </p-tabView>
</div>