<div *ngIf="_uniqueTypes && _uniqueTypes.length > 0">
    <p-stepper orientation="vertical">
        <p-stepperPanel *ngFor="let ing of _uniqueTypes; let i = index" header={{ing}}>
          <!-- Condizione per il primo elemento -->
          <ng-template *ngIf="i === 0" pTemplate="content" let-nextCallback="nextCallback">
            <app-ingredients-list [ingredients_list]="filterByType(_uniqueTypes[i])" [typology]="_uniqueTypes[i]"></app-ingredients-list>
            <div class="flex py-4">
              <p-button label="Avanti" (onClick)="nextCallback.emit()" />
            </div>
          </ng-template>
          <!-- Condizione per elementi intermedi -->
          <ng-template *ngIf="i > 0 && i < _uniqueTypes.length - 1" pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
            <app-ingredients-list [ingredients_list]="filterByType(_uniqueTypes[i])" [typology]="_uniqueTypes[i]"></app-ingredients-list>
            <div class="flex py-4 gap-2">
              <p-button label="Indietro" severity="secondary" (onClick)="prevCallback.emit()" />
              <p-button label="Avanti" (onClick)="nextCallback.emit()" />
            </div>
          </ng-template>
          <!-- Condizione per l'ultimo elemento -->
          <ng-template *ngIf="i === _uniqueTypes.length - 1" pTemplate="content" let-prevCallback="prevCallback">
            <app-ingredients-list [ingredients_list]="filterByType(_uniqueTypes[i])" [typology]="_uniqueTypes[i]"></app-ingredients-list>
            <div class="flex py-4 gap-2">
              <p-button label="Indietro" severity="secondary" (onClick)="prevCallback.emit()" />
              <p-button label="Fatto" (onClick)="Save()" />
            </div>
          </ng-template>
        </p-stepperPanel>
    </p-stepper>
  </div>
  <div *ngIf="!_uniqueTypes || _uniqueTypes.length === 0" class="skeleton-container">
    <p-skeleton width="22rem" height="10rem" borderRadius="16px"></p-skeleton>
    <p-skeleton width="22rem" height="10rem" borderRadius="16px"></p-skeleton>
    <p-skeleton width="22rem" height="10rem" borderRadius="16px"></p-skeleton>
    <p-skeleton width="22rem" height="10rem" borderRadius="16px"></p-skeleton>
  </div>


<div class="card">
    <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
</div>