<!-- <h3 class="container-centered">Carica foto</h3>
<div class="container-centered">
    <p-toast />
    <p-fileUpload 
        mode="basic" 
        chooseLabel="Scegli" 
        chooseIcon="pi pi-upload"
        name="demo[]" 
        url="" 
        accept="image/*" 
        (onUpload)="onUpload($event)" />
</div> -->
<h3 class="container-centered">Dettagli Ingrediente</h3>
<div class="card p-fluid flex flex-wrap gap-3">

    <label for="name">Nome</label>
    <input id="name" type="text" placeholder="Nome prodotto" pInputText class="w-full mb-3" [(ngModel)]="new_ingredient.name">
    <!-- <input id="descrizione" type="text" placeholder="Descrizione" pInputText class="w-full mb-3" [(ngModel)]="new_ingredient.description"> -->
    <label for="telefono" class="block text-900 font-medium mb-2">Prezzo</label>
    <p-inputNumber 
        mode="currency" 
        currency="EUR"
        id="prezzo"  
        class="w-full mb-3" 
        [(ngModel)]="new_ingredient.price"
        inputId="integeronly">
    </p-inputNumber>
</div>
<div >
    <div class="profile-container">

        <div class="card flex justify-content-center">
            <p-dropdown 
            [options]="tipologieProdottiList" 
            [(ngModel)]="selectedTypeIngredient" 
            optionLabel="name"
            placeholder="Tipologia" />
        </div>
        <div class="container-toggle">
            <label for="telefono" class="block text-900 font-medium mb-2">Stato prodotto</label>
            <p-toggleButton (click)="modificaStatoProdotto()" [(ngModel)]="new_ingredient.isActive" onLabel="Attivo" offLabel="Inattivo" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{ width: '10em' }"></p-toggleButton>
        </div>
    </div>
    
</div>
<div class="bottom-button">
    <button (click)="Save_data()" pRipple pButton type="button" label="Salva" class="w-full fixed-bottom"></button>
</div>

<div class="card">
    <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
</div>