<div class="card">
    <p-table #dt [value]="ingredients_list" [customSort]="true"  [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading_data"
    [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th >
                    Nome 
                </th>
                <th >
                    Attivo
                </th>
                <th>
                    Tipo 
                </th>
                <th>
                    Prezzo
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': product.active, 'text-red-500 pi-times-circle': !product.active }"></i>
                </td>
                <td>{{ product.type }}</td>
                <td>{{ product.price }}</td>
                
            </tr>
        </ng-template>
    </p-table>
</div>