.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card {
  display: flex;
  align-items: center;
  // border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  flex-grow: 1;
  transition: background-color 0.3s;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.text {
  font-size: 18px;
  font-weight: bold;
  color: #FFC300;
}

.card.pizza-selected,
.card.panino-selected {
  // background-color: #FF6F61;
  border: 1px solid #FFC300;
  color: white;
}

.card.pizza-unselected,
.card.panino-unselected {
  background-color: white;
  color: white;
}
