.card {
    display: flex;
    flex-direction: column; /* Per permettere alla card-footer di essere posizionata sotto il card-header */
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
  }
  
  .card-header {
    display: flex;
    align-items: center;
    // align-items: center;
    width: 100%;
  }
  
  .avatar {
    margin-right: 1rem;
  }
  
  .card-info {
    flex: 1;
  }
  
  .card-name {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .ingredients-list {
    padding: 0;
    margin: 0.5rem 0 0;
    list-style-type: none;
  }
  
  .ingredients-list li {
    font-size: 0.875rem;
  }
  
  .card-actions {
    display: flex;
    gap: 0.5rem;
  }
  
  .card-footer {
    display: flex;
    justify-content: center; /* Posiziona il contatore all'estremità destra della card */
    margin-top: 1rem;
  }
  