<div class="card">
    <p-tabView>
        <p-tabPanel header="Sezioni Attive">
            <div *ngFor="let item of this.my_restaurant.filterItems">
                <div *ngIf="item.active">
                    <app-mini-item (elementClicked)="clickedItem(item)" [element]="item"></app-mini-item>
                    <div class="mycontainer">
                        <p-button label="Disattiva" severity="secondary" (onClick)="changeStatus(item)" />
                    </div>
                </div>
            </div>
        </p-tabPanel>
        
        <p-tabPanel header="Sezioni Inattive">
            <div *ngFor="let item of this.my_restaurant.filterItems">
                <div *ngIf="!item.active">
                    <app-mini-item (elementClicked)="clickedItem(item)" [element]="item"></app-mini-item>
                    <div class="mycontainer">
                        <p-button label="Attiva" severity="secondary" (onClick)="changeStatus(item)" />
                    </div>
                </div>
            </div>
        </p-tabPanel>   
    </p-tabView>
</div>